@import "variables";

body, html {
  background-color: $nuvu-pink;
  color: white;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;

}

.row-wrapper {
  display: flex;
  flex-direction: row;
  padding: 50px 10%;
  align-items: center;
  justify-items: center;
}

.logotype-row-wrapper {
align-items: start;
 border-bottom: solid #ffffff;
}

.logotype {
  width: 50%;
  height: auto;
}

.presention-box{
  width: 100%;
  border-radius:15px;
  background: $nuvu-pink;
  color: #ffffff;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  border: 3px solid white;
}


.presentation-img{
  width: 20%;
  height: auto;
}
