@import "variables";

body, html {
  background-color: $dark-bg;
  color: white;
  font-weight: 300;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  padding: 50px 10%;
  align-items: center;
  justify-items: center;
}

.logotype-row-wrapper {
  flex-direction: column;
}

.logotype {
  width: 50%;
  height: auto;
}

.presention-box{
border-radius:25px;
background: #ffffff;
color: #000000;
padding: 50px;

}
