@import "variables";

body, html {
  background-color: $dark-bg;
  color: white;
  font-weight: 300;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  flex-direction: row;
}

.logotype {

}
